a {
    color: white;
    text-decoration: none;
}
p{
    font-size: 20px;
}
.vertical-center {
    position: relative;
    top: 35%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
hr {
    border-color: white;
}

.tootless {
    min-height: 960px;
}
@media only screen and (max-width: 930px) {
    .vertical-center{
        top: 38%;
    }
    .tootless{
        min-height: 1000px;
    }
    @media only screen and (max-width: 767px) {
    .tootless {
        min-height: 1400px;
    }
    .vertical-center {
        top: 55%;
    }

    @media only screen and (max-width: 575px) {
        .tootless{
            min-height: 2700px;
        }
        .vertical-center{
            top: 45%;
        }
    }

    .hideit{
        display: none;
    }
    }
}
.proimg{
    width: 100%;
}

@media only screen and (max-width: 575px) {
    .proimg{
        width: 50%;
        padding-top: 10px;
    }
    .proimgs{
        text-align: center;
    }
}