.vertical-center {
    display: inherit;
    text-align: center;
    position: relative;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
h1 {
    font-size: 75px;
}
hr{
    max-width: 250px;
    border-top: solid 5px;
}