<div  style="background: #F95700FF; min-height: 768px;" class="container-fluid">
  <br><br>
  <h1 style="text-align: center;">About</h1>
  <div style="background: #00e3b9; padding-top: 50px; padding-bottom: 50px;" class="jumbotron">
    <!-- <div style="list-style: none; text-align: center; padding-left: 40px;">
      <h1>Just some of the thing I know</h1>
        <li>Unity</li>
        <li>HTML</li>
        <li>JS</li>
        <li>CSS</li>
        <li>Bootstrap</li>
        <li>NodeJs</li>
        <li>ExpressJs</li>
        <li>AngularJs</li>
        <li>Java</li>
    </div> -->
    <img src="assets/face.jpg" class="img-thumbnail rounded-circle mx-auto d-block" width="236px" style="margin-bottom: 15px;">
    <h3 style="text-align: center">Harnam Singh</h3>
    <h5 style="text-align: center">High school graduate</h5>
    <br>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <ul style="text-decoration: none;">
          <li>Unity - ★★★☆☆</li>
          <li>C# - ★★★☆☆</li>
          <li>Blender - ★★★☆☆</li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <ul style="text-decoration: none; padding-left: 50px;">
          <li>Photoshop - ★★★★☆</li>
          <li>Git - ★★★★☆</li>
          <li>Java - ★★★☆☆</li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <ul style="text-decoration: none; padding-left: 50px;">
          <li>NodeJS - ★★★★☆</li>
          <li>AngularJS - ★★★☆☆</li>
          <li>MongoDB - ★★★☆☆</li>
        </ul>
      </div>
    </div>
  </div>
  <br><br>
</div>