<div  style="background: #F95700FF; min-height: 768px;" class="container-fluid">
  <br><br>
  <h1 style="text-align: center">About</h1><br />
  <div style="background-color: aqua;" class="jumbotron vertical-center">
    <div style="list-style: none; text-align: center; padding-left: 40px;">
      <h1>Just some of the thing I know</h1>
        <li>Unity</li>
        <li>HTML</li>
        <li>JS</li>
        <li>CSS</li>
        <li>Bootstrap</li>
        <li>NodeJs</li>
        <li>ExpressJs</li>
        <li>AngularJs</li>
        <li>Java</li>
    </div>
  </div>
  <br><br>
</div>