<div  style="background: yellow;" class="container-fluid">
  <br><br>
  <h1 style="text-align: center">Social</h1><br />
  <div class="row" style="text-align: center;">
    <a href="https://github.com/harnam" target="_blank" style="background: #333; color:white;" class="point col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <br>
      <h1>Github</h1>
      <br>
      <i class="fa fa-github icon"></i>
      <br><br>
      <h2>/harnam</h2>
    </a>
    <a href="https://twitter.com/harnam_tweets" target="_blank" style="background: #00acee; color:white;" class="point col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <br>
      <h1>Twitter</h1>
      <br>
      <i class="fa fa-twitter icon"></i>
      <br><br>
      <h2>@harnam_tweets</h2>
    </a>
    <a href="https://www.facebook.com/HarrySandhuzprofile" target="_blank" style="background: #3b5988; color:white;" class="point col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <br>
      <h1>Facebook</h1>
      <br>
      <i class="fa fa-facebook icon"></i>
      <br><br>
      <h2>/HarrySandhuzprofile</h2>
    </a>
    <a href="https://www.instagram.com/harnamssandhu/" target="_blank" style="background: #e4405f; color:white;" class="point col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <br>
      <h1>Instagram</h1>
      <br>
      <i class="fa fa-instagram icon"></i>
      <br><br>
      <h2>@harnamssandhu</h2>
      <br>
    </a>
  </div>
  <br><br>
</div>