.icon {
    font-size: 70px;
}
.point{
    text-decoration: none;
}
.point:hover .icon { 
    transform: scale(1.8);
}
.point .icon {
    transition: 0.1s;
}
.vertical-center {
    position: relative;
    top: 30%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}