<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#main">&nbsp;<img height="50px" width="50px" src="assets/favicon.png">&nbsp;</a>

</nav>

<div  style="background: rgb(0, 68, 255);" class="container-fluid">
  <br><br><div style="height:300px;"></div>
  <div class="row vertical-center">
    <img src="assets/favicon.png" width="50px" height="50px" ><br>
    <h3 style="text-align: center">Thankyou for visiting harnam.in!</h3><hr>
    <p>The website will be down under further notice to be upgraded</p>  
  </div>
  <br><br><div class="bottom">
  <p class="text">&nbsp;© Harnam Singh 2020</p>
</div>
</div>

